<main>
	<article class="information">
		<h2 class="subtitle">Welcome to de Dragon's World</h2>
		<p class="text">You are about to enter one of the only ones repositories containing detailed information on all the dragons of Berk ... 
		<br/>Our list has grown so much that at some point we had to scan everything .
		<br/>	
		</p>
	</article>
