<main>
	<article class="information">
		<h2 class="subtitle">Editing stroke</h2>
		<%= render 'form' %>

		<%= link_to image_tag('/assets/show.png'), @stroke %> 
		<%= link_to image_tag('/assets/back.png'), strokes_path %>
	</article>
